@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

:root{
    --text-color:#f8f8f8;
    --main-color:#bdbdbd;
    --main-dark:#212121;
    --secondary-color:#3BBECD;
    --tertiary-color:#5edbe9;
    --product-bg-color:#e2e2e2;
    --price-color:#20919e;
}

#main{
    background-image: linear-gradient(to top, #121212 , #212121, #212121);
    min-height: 65px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header-top{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-dark);
}

.logo{
    max-width: 180px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 40px;
}

.logout-button{
    text-decoration: none;
    color: #f8f8f8;
    background-color: #851e1e;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
    transition: all ease 0.3s;
}

.logout-button:hover{
    background-color: #b13333;
}

#dashboard{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.admin-header{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #121212;
}

.admin-header h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.admin-header p{
    font-size: 1rem;
}

.admin-header span{
    font-weight: bold;
}

.stat-container{
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 0 20px 20px;
    font-weight: 500;

}

.stat-box-itemsold{
    text-align: right;
}

.order-management-container{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.order-table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ececec;
    border-radius: 20px;
}

.order-table th{
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
}

.order-table td{
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
}

th.order-id {
    width: 20%;
}
th.customer-name {
    width: 20%;
}
th.order-date {
    width: 15%;
}
th.status {
    width: 15%;
}
th.action {
    width: 30%;
}

table th {
    background-color: #20919e;
    color: #fff;
}

.confirm-button{
    text-decoration: none;
    margin-right: 5px;
    background-color: #1094a3;
    border: none;
    outline: none;
    width: 130px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

.confirm-button:hover{
    background-color: #1ebecf;
}

.decline-button{
    text-decoration: none;
    background-color: #424242;
    border: none;
    outline: none;
    width: 130px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

.decline-button:hover{
    background-color: #575757;
}

#able-buttons{
    text-align: right;
}

.order-body{
    max-height: 400px;
}

.order-manager-form {
    margin-bottom: 20px;
}


.order-manager-form label {
    margin-top: 15px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.order-manager-form input[type="text"],
.order-manager-form input[type="number"]
{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background-color: #ececec;
}


.order-manager-form select{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background-color: #ececec;
    outline: none;
    box-shadow: none;
}

.button-container{
    width: 50%;
    float: right;
    display: flex;
    justify-content: flex-end;
    
}


#add_product_button, #edit_product_button{
    margin-top: 10px;
    text-decoration: none;
    margin-right: 5px;
    background-color: #1094a3;
    border: none;
    outline: none;
    width: 130px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

#add_product_button:hover, #edit_product_button:hover{
    background-color: #1ebecf;
}

.reset_form_button{
    margin-top: 10px;
    text-decoration: none;
    margin-right: 5px;
    background-color: #424242;
    border: none;
    outline: none;
    width: 130px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

.reset_form_button:hover{
    background-color: #575757;
}

th.product-id {
    width: 10%;  /* Adjust the percentage as needed */
}

th.product-name {
    width: 20%;
}

th.manufacturer {
    width: 15%;
}

th.price {
    width: 10%;
}

th.stock {
    width: 10%;
}

th.category {
    width: 15%;
}

th.manage-action {
    width: 20%;
}

.edit-button{
    text-decoration: none;
    margin-right: 5px;
    background-color: #1094a3;
    border: none;
    outline: none;
    width: 80px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

.edit-button:hover{
    background-color: #1ebecf;
}

.delete-button{
    text-decoration: none;
    background-color: #424242;
    border: none;
    outline: none;
    width: 110px;
    padding: 10px 5px;
    border-radius: 20px;
    color: #f8f8f8;
    cursor: pointer;
    font-weight: 500;
}

.delete-button:hover{
    background-color: #575757;
}

